services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: book_manager_backend
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - go_mod_cache:/go/pkg/mod

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: book_manager_frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_BASE_URL: http://localhost:8080
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next

volumes:
  go_mod_cache:
